<%= simple_form_for(@user) do |f| %>
  <% f.error_notification %>
    
  <div class="container">
    <div class="form-inputs">
      <%= f.input :name,
            required: true,
            input_html: { class: "input"}, wrapper: false, label_html: { class: "label"} %>
    </div>

    <div class="action form-group">
      <%= f.button :submit, class: "btn-info mt-4" %>
    </div>
  </div>
<% end %>