
<div>
  <h1><%= @user.name.capitalize %>'s Events</h1>
  <i class="fa fa-calender" aria-hidden="true"></i></span>
  <h3>Created Events</h3>
  <%= render @events_by_current_user %>
</div>

<div>
  <i class="fa fa-calender" aria-hidden="true"></i></span>
  <h3>Upcoming Events</h3>
  <%= render @upcoming_events %>
</div>  
<div>
  <i class="fa fa-calender" aria-hidden="true"></i></span>
  <h3>Previous Events</h3>
  <%= render @prev_events %>
</div>
